<style>

/* ======================================
   ESTILOS GENERALES
====================================== */

body{
    font-family:'Inter',sans-serif;
    font-size:16px;
    line-height:1.5;
    color:#1f2937;

    margin:0;
    padding:0;
    background:#f5f7fa;
    font-family:'Inter',sans-serif;
    overflow-x:hidden
}

header{
    background:linear-gradient(135deg,#1E3A8A,#2563EB);
    color:white;
    padding:30px;
    text-align:center;
}

.container{
    padding:10px;
}

.card{
    background:white;
    width:100%;
    margin:0;
    border-radius:15px;
    box-sizing:border-box;
}

h1{
    font-weight:700;
}

h2{
    font-weight:600;
}

strong{
    font-weight:600;
}

.versiculo{
    font-weight:bold;
    color:#1E3A8A;
    font-size:20px;
}

.pregunta{
    margin-top:15px;
    background:#eef2ff;
    padding:15px;
    border-radius:10px;
}

</style>
